* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}

/***** Header/Navigation Section ******/

body {
  background-color: #fff;
}

header {
  display: block;
  height: 50px;
  width: 100%;
}

header ul {
  margin: 23px;
}

.left {
  display: inline-block;
  margin-left: 13px;
  margin-top: 7px;
}

li {
  text-decoration: none;
}

.left a {
  text-decoration: none;
  color: #000;
  opacity: 0.75;
  vertical-align: middle;
  margin-left: 13px;

}

.right {
  float: right;
  margin-right: 13px;
}

.right a {
  margin-right: 15px;
  text-decoration: none;
  color: #000;
  vertical-align: middle;
  opacity: 0.75;
}



.btn {
  border: 1px solid #4386fb;
  font-weight: bold;
  outline: none;
  background-color: #4583ee;
  padding: 0 12px;
  line-height: 28px;
  border-radius: 2px;
  color: white;
}

.google-app {
  width: 24px;
  vertical-align: middle;
  opacity: 0.65;

}


#a1:hover,
#s1:hover,
#g1:hover,
#i1:hover {
  text-decoration: underline;
}


/***** Main Section ******/

section {
  position: relative;
  top: 100px;
  text-align: center;
}

.main-logo {
  height: 92px;
  width: 272px;
  margin-bottom: 20px;

}